<!DOCTYPE html>
<html>
  <head>
    <title>Discourse - A Discord clone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="icon" href="https://cdn.discordapp.com/attachments/560127966688837672/576110938722271242/discourse-logo-main.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Cuprum" rel="stylesheet">
    <script type="text/javascript">
      window.discordBackgroundURL = "<%= image_url('discord-background.png') %>";
      window.discordLogoURL = "<%= image_url('discord-logo.png') %>";
      window.discordSmallLogoURL = "<%= image_url('discord-small-logo.png') %>";
      window.loginBackgroundURL = "<%= image_url('login-background.jpg') %>";
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
